include MANIFEST.in
include README
include packagemaker.spec.in
include setup.py
include runtest.sh nose.cfg
include examples/*
include examples/*/*
include doc/*
include pmaker/tests/*_example_*
recursive-include pmaker *.py
recursive-include templates *
recursive-include tests *
include tools/*
