include MANIFEST.in
include README
include packagemaker.spec.in
include setup.py
include runtest.sh nose.cfg
include examples/*.txt
recursive-include pmaker *.py
recursive-include templates *
recursive-include tests *
include tools/pmaker
